.slide-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh; /* Setting a fixed height here; adjust as necessary */
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.w-full {
  flex: 0 0 100%;
}